.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.husky
.devcontainer
examples
whitesource
wss*
.editorconfig
.eslintrc.json
.gitattributes
.lintstagedrc.json
.prettierignore
.prettierrc.json
.package-cve.json
**/test/*